/**
*	Citizen Science Admin CSS
*	@author rob.dunne@manchester.ac.uk
*/

* {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

html {
	background: #f9f9f9;
}

a,
a[ng-click],
.show-profile {
	color: #ff4d79;
	cursor: pointer;
	text-decoration: underline;
}

a:active,
a:hover,
a[ng-click]:active,
a[ng-click]:hover,
.show-profile:active,
.show-profile:hover {
	color: #d6626d;
}

h1 {
	border-bottom: 1px solid #999;
    font-size: 30px;
    padding: 0 0 10px;
}

h3 {
	font-size: 20px;
    margin: 0;
}

p {

}

#admin-projects-list {
	margin: 0 auto;
    width: 800px;
}

.project-wrapper {
	border-bottom: 1px dotted #333;
    margin: 0 0 20px;
    padding: 0 0 20px;
}

.project-image-wrapper {
	float: left;
    width: 40%;
}

.project-info-wrapper {
	float: right;
    width: 60%;
}

.project-data-totals {
	font-weight: bold;
}

.project-data-totals span {

}

.pink-button {
	background: #ff4d79 none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.clear {
	clear: both;
}